<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <div class="table-responsive">          
No of Employee: {{ noOfEmployees }}
</section>
<section>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date Of Joining</th>
        <th>Salary</th>
        <th>Designation</th>
        <th ng-show="adminFlag">Action</th>
        <th ng-show="adminFlag">Action</th>
    </tr>
    <tr ng-repeat = "x in employees">
        <td>{{ x.id }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.dOj }}</td>
        <td>{{ x.salary }}</td>
        <td>{{ x.designation }}</td>
        <td><button ng-show="adminFlag" ng-click="" ><a href="#!/edit/{{$index}}"> Edit</a></button></td>
        <td><button ng-show="adminFlag" ng-click="deleteData($index)"> delete</button></td>
    </tr>

</table>
</section>